---
name: Self
on: [push, pull_request]

jobs:
  latest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.6.0
        with:
          node-version: '16'

      # ensure that a PR that doesn't update the dist actually uses the
      # updated code when it's running the self step
      - if: github.event_name == 'pull_request'
        run: npm ci && npm run build && npm run package

      - uses: ./
      - if: ${{ matrix.os == 'windows-latest' }}
        run: shfmt.exe -d test.bash
      - if: ${{ matrix.os != 'windows-latest' }}
        run: shfmt -d test.bash

  fixed:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.6.0
        with:
          node-version: '16'

      # ensure that a PR that doesn't update the dist actually uses the
      # updated code when it's running the self step
      - if: github.event_name == 'pull_request'
        run: npm ci && npm run build && npm run package

      - uses: ./
        with:
          shfmt-version: 3.3.1
      - if: ${{ matrix.os == 'windows-latest' }}
        run: shfmt.exe -d test.bash
      - if: ${{ matrix.os != 'windows-latest' }}
        run: shfmt -d test.bash
